hr {
    height: 2px;
    border:none;
    border-top: 1px solid #696666;
}
.adminNavbar {
    background: #000000;
    color: #ffffff;
    height: 50px;
}

.content {
    height: 1000px;
    margin: 0;
    padding: 0;
}